<!DOCTYPE html>
<html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudFlare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  <script src="script.js"></script>
  <title>Dad Joke Generator</title>
</head>

<body>
    <div class="container">
      <div ng-app="myApp" ng-controller="myCtrl">
      <div class = "row">
        <div class ="col-md-8">
          
          <p>Get a dad joke with your word!</p>
          <input type="text" ng-model="form" ng-keyup="onup(form)">
          <div ng-repeat="joke in jokes">
            {{joke}}
          </div>
        </div>
        
        <div class = "col-md-4">
          
            <button ng-model="button" ng-click="onclick(button)" type='submit'>Random Dad Joke</button>
            <div>
              {{randomJoke}}
            </div>
        </div>
        
        </div>
      </div>
    </div>
</body>

</html>